# Folder
downloads/videos/**
downloads/images/**
error_log/
debug/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store

# Config files
src/config/mysql_config.yml
src/config/ai_config.yml
src/config/weibo_auth.json

# Others
google-chrome-stable_current_amd64.deb
error_screenshot_*.jpg